# Virtual Environment
venv/
.env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# Model Files (agar large AI models hain)
*.h5
*.pt
*.pth
*.safetensors

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# Hugging Face Cache
.cache/